<div class="container">
  <!-- Player 1 -->
  <mat-card class="mr-1">     
    <mat-card-content>
        <div class="child-container">
          <h2>  You</h2>
          <button mat-fab color="primary" class="score"> 0 </button>
        </div>
       <h3> Choose your weapon: </h3>
       <div  class="icon-container">
         <i class="fa fa-hand-rock-o"></i>
         <i class="fa fa-hand-paper-o"></i>
         <i class="fa fa-hand-scissors-o"></i>
      </div>         
    </mat-card-content>
  </mat-card>
<!-- Player 2 -->
  <mat-card>
    <div class="child-container">
      <h2>  Player 2</h2>
      <button mat-fab color="accent" class="score">0</button>
    </div>
  <div class="icon-container mt-3" >
    <i class="fa fa-hand-rock-o"></i>
    <i class="fa fa-hand-paper-o" ></i>
    <i class="fa fa-hand-scissors-o" ></i>           
  </div>
  </mat-card>
  
</div>