.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}
.child-container{
  display:grid;
  grid-template-columns: 2fr 1fr;
}
.icon-container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.rps-heading{
  font-size: 1.7rem;
  margin: 1rem;
  text-shadow: 20px aqua;
}
.score{
    margin-top:.5em;
    margin-left:2em;
    font-size:1.5em
}
.fa{
    cursor:pointer;
    font-size:5em;
}
.selectedWeapon{
  color: background;
}
.result-container{
  margin: 1em;
  max-width: max-content;
  margin-left: 45%;
  margin-top: 1em;
  text-align: center;
  /* padding: 2em; */
}