<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h3>
        ROCK PAPER SCISSOR
      </h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://i.pinimg.com/originals/c9/70/70/c9707024e45d62503a8f13e87f60482a.jpg" alt="Rock Paper Scissor Image">
  <!-- <mat-card-content>
    <p>
    </p>
  </mat-card-content> -->
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/rock-paper-scissor']">Play</button>
  </mat-card-actions>
</mat-card>