<div class="flex-box">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>
          ROCK PAPER SCISSOR
        </h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-lg-image src="../../assets/Image/rps_game.JPG" alt="Rock Paper Scissor Image">
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/rock-paper-scissor']">Play</button>
    </mat-card-actions>
  </mat-card>
  
  <!-- second game -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>
          TIC TAC TOE
        </h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-lg-image src="../../assets/Image/ttt_game.JPG" alt="Rock Paper Scissor Image">
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/tic-tac-toe']">Play</button>
    </mat-card-actions>
  </mat-card>
</div>